<!-- view/partial/sidebar -->
<!--	<nav id="sidebar">
	<div class-"sidebar-header">
		<h3>Locations</h3>
	</div>
	<ul class="list-unstyled components">
		<% spots.forEach((spot) => { %>
			<li><a href='#locItem<%= spot.id %>' class="list-group-item" data-toggle="collapse">
				<h3><%= spot.name %></h3>
				<p><%= spot.lat , spot.lng %></p></a>
				// <ul class="collapse list-unstyled" id="locItem<%= spot.id %>">
				// 	<li><p>Cost: £<%= spot.cost %></p></li>
				// 	<li><p>Address: <%= spot.address %></p></li>
				// 	<li><p>Distance: <%= spot.distance %>mi</p></li>
				// 	<li><p>Rating: <%= spot.rating %></p></li>
				// 	spots.comments.forEach((comment) => { %>
				// 		<li><p>Comments:<br>
				// 		User: <%= spot.commentAuth %><br>
				// 		<%= spot.comment %><br>
				// 		</p></li>
				// 	<% }) %>
				// </ul>
		<% }) %>
	</ul>
</nav> -->
